body {
  background: #fff;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
strong {
  font-weight: 500;
}
aside.context {
  text-align: center;
  color: #333;
  line-height: 1.7;
}
aside.context a {
  text-decoration: none;
  color: #333;
  padding: 3px 0;
  border-bottom: 1px dashed;
}
aside.context a:hover {
  border-bottom: 1px solid;
}
aside.context .explanation {
  max-width: 700px;
  margin: 6em auto 0;
}
footer {
  text-align: center;
  margin: 4em auto;
  width: 100%;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #333;
  color: #333;
  margin: 5px;
}
footer a:hover {
  background: rgba(255, 255, 255, 0.1);
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}
main.main-content {
  background: linear-gradient(to bottom, #8e9eab, #eef2f3);
  padding: 5em 2em 3em;
  border-radius: 120px 120px / 50% 50% 10% 10%;
  width: 980px;
  margin: 5em auto;
}
.inflight {
  display: grid;
  grid: 60px 1fr / 60px calc(100% - 60px);
  transition: 0.3s ease;
  font-family: "Heebo", sans-serif;
  user-select: none;
  background: #fff;
}
.inflight__menu-button {
  background: #923671;
  align-items: center;
  display: grid;
}
.inflight__menu-list {
  background: linear-gradient(to top right, #642b73, #c6426e);
  grid-column: 1;
  overflow: hidden;
  display: grid;
  grid: repeat(8, 60px) / 100%;
}
.inflight__settings-list {
  display: grid;
  grid: 100% / 60px 120px 1fr repeat(3, 50px);
  justify-content: center;
  align-items: center;
  grid-gap: 1px;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.inflight__settings-list svg {
  fill: #923671;
  max-width: 35px;
}
.inflight.menu-open {
  grid: 60px 1fr / 160px calc(100% - 160px);
}
.inflight__wrapper {
  background: radial-gradient(#444, #222);
  padding: 30px;
  max-width: 840px;
  margin: auto;
  border-radius: 20px;
}
.content__menu {
  display: grid;
  grid: 60px 1fr / 60px 90px 1fr;
  height: 60px;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.content__menu svg {
  fill: #923671;
  max-width: 30px;
  margin: auto;
}
.content__shows {
  display: grid;
  padding: 3px;
  grid: repeat(2, 200px) / repeat(8, 150px);
  grid-gap: 3px;
  grid-auto-flow: column;
  width: calc(100% - 4px);
  overflow-x: scroll;
  overflow-y: hidden;
}
.content__shows div {
  position: relative;
  overflow: hidden;
}
.content__shows div:hover img {
  transform: scale(1.15);
}
.content__shows div .title-box {
  content: "";
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  width: 100%;
  z-index: 1;
}
.content__shows div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}
.content__shows div .name {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 10px;
  z-index: 10;
  cursor: default;
}
.content__shows div:nth-child(4n + 1) {
  grid-column: span 2;
  font-size: 20px;
}
.content__shows div:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
  font-size: 20px;
}
.content__menu-type {
  border-left: 1px solid #ddd;
  height: 100%;
  color: #999;
  font-size: 18px;
  text-align: left;
  display: flex;
  align-items: flex-end;
  padding: 16px;
}
.content__menu-tabs {
  text-align: left;
  display: flex;
  font-size: 18px;
  align-items: flex-end;
  height: 100%;
}
.content__menu-tabs > li {
  margin-right: 20px;
  position: relative;
  padding-bottom: 16px;
}
.content__menu-tabs > li.active {
  background: -webkit-linear-gradient(#642b73, #c6426e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content__menu-tabs > li.active:before {
  content: "";
  position: absolute;
  height: 6px;
  background: linear-gradient(to bottom right, #642b73, #c6426e);
  width: 100%;
  bottom: 0;
  left: 0;
}
.menu-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60px 1fr;
  align-items: center;
}
.menu-item__icon {
  display: grid;
  place-items: center;
}
.menu-item__icon svg {
  max-width: 30px;
  fill: #f9f9f9;
}
.menu-item__desc {
  font-size: 20px;
  color: #fff;
  margin-top: 3px;
}
.menu-item:not(:last-child) {
  border-bottom: 1px solid #f9f9f9;
}
.menu-item.active {
  background: #333;
}
.time {
  text-align: left;
  color: #444;
}
.logo {
  font: 32px "Audiowide", cursive;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#642b73, #c6426e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  margin: 0 3px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}